body {
    background-color: #f8f9fa;
    font-size: 1rem;
  }
  
  .container {
    margin-top: 2rem;
  }
  
  .club-card {
    margin-bottom: 2rem;
    width: 22rem;
    height: 12rem;
    background-color: aqua;
    border: 2px solid #333;
    border-radius: 20px;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .card-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .row {
    justify-content: center;
    gap: 2rem;
  }
  